.dish-second-head
{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e5fffd;
    font-size: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card
{
    display: grid;
    grid-template-columns: 70%, 30%;
    margin-top: 2rem;
    text-align: center;
    padding-bottom: 1.8rem;
    border: 0.15rem solid #05b8bb;;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px 5px teal;
}

.dish-head
{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e5fffd;
    text-align: center;
    font-size: 45px;
}
.dish-text
{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e5fffd;
    font-size: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
}